---
title: "ID Verification"
ring: reduce
quadrant: platforms-and-operations
tags:
  - appsec-and-compliance
  - "@moj"
---

ID Verification (Experian, DWP, etc.): A group of external services and government APIs (DWP, DVLA, HMPO) used for identity validation and risk mitigation.
